<!doctype html>
<html ng-app="puzzleApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    </head>
    <body>

        <style>

            *{
                box-sizing: border-box;
            }

            body{
                margin: 0;
            }

            .board{
                width: 320px;
                height: 320px;
                border: 1px solid black; 
                margin: 0 auto;
                position: relative;
                /*overflow: hidden;*/
            }

            .snake-piece{
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: black;
            }

            .snake-piece.odd{
                background-color: grey;
            }

            .fruit{
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;     
                background-image: url('apple.png');
                background-size: cover;        
            }

            header{
                display: block;
                padding: 20px 5px;
                background-color: #333;
            }

            header span{
                display: block;
                color: white;
            }

            header span.title{
                text-align: center;
                font-weight: bold;
            }

            header span.length{
                text-align: center;
            }



        </style>

        <main ng-controller="snakeCtrl">
            <header>
                <span class="title">Snake on a Plane</span>
                <span class="length">Length: {{snake.length}}</span>
            </header>
            <div class="board"
                hm-panright = "setDirection('right')"
                hm-panleft  = "setDirection('left')"
                hm-panup    = "setDirection('up')"
                hm-pandown  = "setDirection('down')"            >

                <div class="snake-piece"
                    ng-repeat="piece in snake track by $index"
                    ng-style="{
                        top: getTop(piece),
                        left: getLeft(piece)
                    }"
                    ng-class="{
                        odd: piece.odd
                    }"
                    ></div>


                <div class="fruit"
                    ng-if="fruit"
                    ng-style="{
                        top: getTop(fruit),
                        left: getLeft(fruit) 
                    }"
                ></div>

            </div>


        </main>

        <script src="lib/hammer.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular.hammer.min.js"></script>

        <script>

            angular.module('puzzleApp',['hmTouchEvents'])



            .controller('snakeCtrl', function($scope, $timeout, $interval, $q){


                var current_direction = 'up'
                var previous_direction = 'up'

                $scope.setDirection = function(d){
                    if(!game_loop){
                        init()
                    }
                    current_direction = d;
                }

                $scope.getTop = function(piece){
                    return piece.top + "px"
                }

                $scope.getLeft = function(piece){
                    return piece.left + "px"
                }                

                $scope.snake = [
                    {
                        top: 90,
                        left: 90,
                        odd: true
                    },                       
                    {
                        top: 100,
                        left: 90
                    },
                    {
                        top: 110,
                        left: 90,
                        odd: true
                    },     
                    {
                        top: 120,
                        left: 90,
                    },  
                    {
                        top: 130,
                        left: 90,
                        odd: true
                    },  
                    {
                        top: 140,
                        left: 90,
                    },  
                    {
                        top: 150,
                        left: 90,
                        odd: true
                    },                                                                                                           
                ]


                var game_loop

                function init(){

                    

                    var fruit_frames = 0;


                    game_loop = $interval(function(){

                        fruit_frames++;

                        if(fruit_frames == 300){
                            
                            fruit_frames = 0;
                            
                            $scope.fruit = {
                                top: Math.floor((Math.random() * 320)),
                                left: Math.floor((Math.random() * 320))
                            }
                        }

                        var direction = current_direction

                        //no puedes ir para abajo si la segunda está mas abajo que la primera
                        if(direction == 'down' && $scope.snake[1].top > $scope.snake[0].top){
                            direction = previous_direction
                        }

                        //no puedes ir para arriba si la segunda está mas arriba que la primera
                        if(direction == 'up' && $scope.snake[1].top < $scope.snake[0].top){
                            direction = previous_direction
                        }                    

                        //no puedes ir para izquierda si la segunda está mas izquierda que la primera
                        if(direction == 'left' && $scope.snake[1].left < $scope.snake[0].left){
                            direction = previous_direction
                        }                                        

                        //no puedes ir para derecha si la segunda está mas derecha que la primera
                        if(direction == 'right' && $scope.snake[1].left > $scope.snake[0].left){
                            direction = previous_direction
                        }  

                        previous_direction = direction;
                        


                        var aux = {};
                        var aux2 = {}; //perdón

                        for(var i = 0; i <= $scope.snake.length-1; i++){
                            
                            if(i === 0){

                                aux.top = $scope.snake[i].top
                                aux.left = $scope.snake[i].left
                                aux.direction = direction;

                                if(direction == 'down'){
                                    $scope.snake[i].top += 2;
                                }
                                if(direction == 'up'){
                                    $scope.snake[i].top -= 2;
                                }                        
                                if(direction == 'left'){
                                    $scope.snake[i].left -= 2;
                                }                       
                                if(direction == 'right'){
                                    $scope.snake[i].left += 2;
                                }      

                                $scope.snake[i].direction = direction                                                                                    

                            }else{

                                aux2.top = $scope.snake[i].top
                                aux2.left = $scope.snake[i].left

                                if(aux.direction == 'left' || aux.direction == 'right'){
                                    if(aux.top > $scope.snake[i].top){
                                        $scope.snake[i].top += 2;
                                        aux2.direction = 'down'
                                    }else if(aux.top < $scope.snake[i].top){
                                        $scope.snake[i].top -= 2;
                                        aux2.direction = 'up'
                                    }else if(aux.left > $scope.snake[i].left){
                                        $scope.snake[i].left += 2;
                                        aux2.direction = 'right'
                                    }else if(aux.left < $scope.snake[i].left){
                                        $scope.snake[i].left -= 2;
                                        aux2.direction = 'left'
                                    }  
                                }else{
                                    if(aux.left > $scope.snake[i].left){
                                        $scope.snake[i].left += 2;
                                        aux2.direction = 'right'
                                    }else if(aux.left < $scope.snake[i].left){
                                        $scope.snake[i].left -= 2;
                                        aux2.direction = 'left'
                                    }else if(aux.top > $scope.snake[i].top){
                                        $scope.snake[i].top += 2;
                                        aux2.direction = 'down'
                                    }else if(aux.top < $scope.snake[i].top){
                                        $scope.snake[i].top -= 2;
                                        aux2.direction = 'up'
                                    }                                    
                                }

                                $scope.snake[i].direction = aux2.direction;
                                

                                aux.top = aux2.top
                                aux.left = aux2.left
                                aux.direction = aux2.direction

                            }
                        }

                        if(isOut() || collapses()){
                            alert('dead')
                            $interval.cancel(game_loop)

                        }

                        if($scope.fruit && eatsFruit()){
                            growSnake()
                        }
                        


                    }, 1000/60)


                }

                function isOut(){

                    return $scope.snake[0].top < 0 || $scope.snake[0].top > 320 -10 ||
                       $scope.snake[0].left < 0 || $scope.snake[0].left > 320 -10  
                }

                function growSnake(){

                    var top;
                    var left;

                    if($scope.snake[$scope.snake.length -1].direction == 'up'){
                        top = $scope.snake[$scope.snake.length -1].top + 10;
                        left = $scope.snake[$scope.snake.length -1].left
                    }

                    if($scope.snake[$scope.snake.length -1].direction == 'down'){
                        top = $scope.snake[$scope.snake.length -1].top - 10;
                        left = $scope.snake[$scope.snake.length -1].left
                    }           

                    if($scope.snake[$scope.snake.length -1].direction == 'left'){
                        top = $scope.snake[$scope.snake.length -1].top;
                        left = $scope.snake[$scope.snake.length -1].left + 10
                    }     

                    if($scope.snake[$scope.snake.length -1].direction == 'right'){
                        top = $scope.snake[$scope.snake.length -1].top;
                        left = $scope.snake[$scope.snake.length -1].left - 10
                    }                                    
                               

                    $scope.snake.push({
                        top: top,
                        left: left,
                        odd: !$scope.snake[$scope.snake.length -1].odd
                    })

                }

                function eatsFruit(){
                    if(collides($scope.snake[0], $scope.fruit)){
                        $scope.fruit = null
                        return true;
                    }

                    return false;
                }

                function collapses(){

                    var head = $scope.snake[0];

                    //con la 2a y 3a pieza no puede colisionar, porque no llega, y como me da trabajo calcularlo, pues lo ignoro
                    for(var i = 3; i < $scope.snake.length; i++){
                        if(collides($scope.snake[0], $scope.snake[i])){
                            return true;
                        }


                    }

                    return false;
                }

                function collides(a, b){

                    return (a.top + 10 - b.top > 0 && a.left + 10 - b.left > 0) &&
                            (b.top + 10 - a.top > 0 && b.left + 10 - a.left > 0)

                }

                $scope.start = function(){

                    init();

                }

                


            })

        </script>
    </body>
</html>